* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.parte-1 {
    display: grid;
    grid-area: "menu";
    background: white;
}

.parte-2 {
    display: grid;
    background: pink;
}

.parte-3 {
    display: grid;
    background: pink;
}

.secao-4 {
    /*    display: grid;
  grid-template-columns: 200px 200px 200px; */
    display: flex;
    flex-direction: column;
}

.secao-4 h1 {
    font-size: 40px;
    text-align: center;
}

.obras123 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.logo {
    float: left;
    padding: 16px 30px;
}

.vetor {
    float: right;
}

.menu-parte-2 ul li {
    display: inline-block;
    list-style: none;
    padding: 20px;
}

.menu-parte-2 ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.menu-parte-2 ul li a:hover {
    color: #d55b5f;
}